#fetch-retry-drawer .inline-drawer-content {
    display: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 5px;
}

.flex-container.flexGap5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#fr-save {
    width: 100%;
    margin-top: 10px;
}

#fr-debugMode:checked + label {
    color: #ffaa00;
}
