#FetchRetry-drawer .inline-drawer-content {
}

.flex-container.flexGap5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: 30px;
}

.flex-container.flexGap5 input[type="number"] {
    width: 80px;
    text-align: center;
}

.flex-container.flexGap5 input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
